{% extends 'master/layout.html.twig' %}

{% block title 'Show Vehicle Model Type' %}

{% block actions %}
    {{ include('master/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ vehicleModelType.name|default }}</td>
            </tr>
            <tr>
                <th>Is Active</th>
                <td>{{ vehicleModelType.isActive|default ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
